<!-- sidebar.component.html -->
<div class="sidebar" [ngClass]="{ collapsed: isCollapsed }">
  <div class="sidebar-header">
    <div class="logo-container">
      <img src="assets/images/logow.png" alt="Logo" class="logo-large" />
      <img src="assets/images/logow-small.png" alt="Logo" class="logo-small" />
    </div>
  </div>

  <div class="sidebar-user">
    <div class="user-info">
      <i class="fas fa-user fa-2x me-2 text-secondary"></i>
      <div class="user-details" *ngIf="!isCollapsed">
        <h6 class="mb-0">{{ userName }}</h6>
        <small *ngFor="let role of userRoles">
          {{ role }}
          <br />
        </small>
        <!-- <small>{{ userRoles }}</small> -->
      </div>
    </div>
  </div>

  <!-- sidebar menu -->
  <ul class="sidebar-nav">
    <ng-container *ngFor="let item of menuItems">
      <li class="nav-item" *ngIf="!item.children || item.children.length === 1">
        <!-- item có 1 child (Dashboard) -->
        <a
          [routerLink]="item.children[0]?.routerLink"
          [class.disabled]="!hasAccess(item) || !hasAccess(item.children[0])"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: item.children[0]?.exact || false }"
          class="nav-link"
          (click)="(!hasAccess(item) || !hasAccess(item.children[0])) && $event.preventDefault()">
          <i [class]="item.icon"></i>
          <span *ngIf="!isCollapsed">{{ item.label }}</span>
        </a>
      </li>
      <!-- item có nhiều child (submenu) -->
      <li class="nav-item" *ngIf="item.children && item.children.length > 1">
        <!-- item có submenu -->
          <!-- [class.disabled]="!hasAccess(item)" -->
        <a
          (click)="hasAccess(item) && toggleSubmenu(item.key)"
          class="nav-link"
          [class.disabled]="!hasAccess(item)"
          [ngClass]="{ expanded: expandedMenu === item.key }">
          <i [class]="item.icon"></i>
          <span *ngIf="!isCollapsed">{{ item.label }}</span>
          <i
            *ngIf="!isCollapsed"
            class="fas fa-chevron-right submenu-arrow"
            [ngClass]="{ rotated: expandedMenu === item.key }"></i>
        </a>
        <ul class="submenu" [ngClass]="{ show: expandedMenu === item.key }">
          <li *ngFor="let child of item.children">
            <a
              [routerLink]="item.khoiId && item.khoiId > 0 ? [child.routerLink, item.khoiId] : [child.routerLink]"
              [class.disabled]="!hasAccess(item) || !hasAccess(child)"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: child.exact || false }"
              (click)="(!hasAccess(item) || !hasAccess(child)) && $event.preventDefault()">
              <i [class]="child.icon"></i>
              <span *ngIf="!isCollapsed">{{ child.label }}</span>
            </a>
          </li>
        </ul>
      </li>
    </ng-container>
  </ul>

  <div class="sidebar-footer">
    <button class="btn btn-toggle" (click)="toggleSidebar()">
      <i class="fas" [ngClass]="isCollapsed ? 'fa-angle-right' : 'fa-angle-left'"></i>
    </button>
  </div>
</div>
